.faqContainer {
  padding: 130px 30px;
  margin: 100px 30px 0 30px;
}

.underline_h2 {
  text-decoration: underline 2px rgb(9, 141, 102) !important;
  text-underline-offset: 15px !important;
  -webkit-text-decoration: underline 2px rgb(9, 141, 102) !important;
  -webkit-text-underline-offset: 15px !important;
}

.nav-link-title[aria-selected="true"] {
  margin-left: 10px;
  text-decoration: underline rgba(9, 141, 102, 0.5);
  text-underline-offset: 5px;
}

.nav-link-title {
  color: #fff;
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.nav-link-title:hover {
  color: #fff;
  margin-left: 10px;
  text-decoration: underline rgba(9, 141, 102, 0.5);
  text-underline-offset: 5px;
}

.p-faq-paragraph {
  border: 3px solid rgba(9, 141, 102, 0.5);
  padding: 20px;
}

@media (max-width: 576px) {
  .faqContainer {
    padding: 0;
  }

  .accordion {
    margin-top: 30px;
    --bs-accordion-bg: rgb(0, 0, 0);
    --bs-accordion-active-bg: none;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-color: #fff;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-active-icon: url("/public/active_arrow.png");
    --bs-accordion-body-padding-x: 0;
  }

  .p-faq-paragraph {
    border: 2px solid rgba(9, 141, 102, 0.5);
    padding: 16px;
  }

  .nav-link-title:hover {
    margin-left: 0;
  }

  .accordion-button {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  button.accordion-button:hover {
    background-color: transparent;
  }
}
