.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 30px;
}

.icons_footer {
  width: 30px;
}

.p-footer {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 576px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    gap: 30px;
  }

  .icons_footer {
    width: 30px;
  }

  .p-footer {
    margin-top: 2%;
    font-size: 10px;
  }
}
