h1 {
  color: #fff;
  text-align: center;
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #fff;
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  color: #098d66;
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 25px;
  font-weight: 400;
  display: inline;
}

h4 {
  color: #fff;
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: inline;
}

h5 {
  color: #098d66;
  font-family: "Oooh Baby", cursive;
  font-size: 90px;
  font-weight: 400;
  margin-top: -120px;
  margin-left: 180px;
}

h6 {
  color: #fff;
  text-align: center;
  font-family: "Krub ExtraLight", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

p {
  color: #fff;
  text-align: justify;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }

  h5 {
    font-size: 55px;
    margin-top: -95px;
    margin-left: 75px;
  }
}
